@import '../variables.scss';

.project {
  border: 3px solid #DD614A;
  border-radius: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 250px;
  height: 580px;
}

.projectImg {
  width: 90%;
  max-height: 300px;
  align-self: center;
  margin: 5px;
}

.projectTitle, .projectDescription {
  margin: 10px;
}

.projectTitle {
  color: #DD614A;
}

.linkToProjectPage {
  text-decoration: none;
  color: black;
  &:hover {
    transform: scale(1.1);
  }
}