@import '../variables.scss';

.project {
  border: 1px solid $greenLightBorder;
  border-radius: 5%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 250px;
  background-color: $greenProjectBackground;
  color: $white;
}

.projectImg {
  width: 90%;
  max-height: 300px;
  align-self: center;
  margin: 5px;
}

.projectTitle, .projectDescription {
  margin: 10px;
}

.linkToProjectPage {
  text-decoration: none;
}