// MEDIA QUERIES

$widthMedium: 600px;


//COLORS

$orangeLight: #E89D774D;
$orangeBright: #E89D77;
$black: #000;
$white: #fff;
$orangeBorderCat: #E5936B;
$yellowLight: #F3D796;
$greenProjectList: #8FA670;
$greenLightBorder: #8FA572;
$greenProjectBackground: #0F3F40;
$greenProjectPage: #8FA670;
$purpleBackground: #221930;
$orangeLightHr: #efc5b0;


// SIZES
$marginTitle: 50px;
$fontSizeTitle: 30px;
$footerHeight: 50px;