@import '../variables.scss';

.projectPageBody {
  background-color: $orangeLight;
  width: 90%;
}

.projectTitle {
  margin-top: 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.projectDescription {
  margin: 15px;
}

.linkToWebsite {
  text-decoration: none;
  color: $black;
  line-height: 70px;
  font-size: 25px;
  font-style: italic;
  display: block;
  text-align: center;
  &:hover {
    transform: scale(1.2);
  }
}


@media only screen and (min-width: $widthMedium) {
  .projectPageBody {
    height: 100%;
  }
  .projectDescription {
    margin: 50px;
  }
}