.projectPageBody {
  background-color: #8FA670;
  height: 100%;
}

.projectTitle {
  margin-top: 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.titleCat {
  margin: 10px;
  font-size: 20px;
}

.projectDescription {
  margin: 50px;
}

.skillsList {
  list-style-type: circle;
  margin: 20px;
}

.linkToWebsite {
  text-decoration: none;
  color: black;
  line-height: 70px;
  font-size: 25px;
  font-style: italic;
  display: block;
  text-align: center;
}
