@import '../variables.scss';

.projectPageBody {
  background-color: $greenProjectPage;
}

.projectTitle {
  margin-top: 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.titleCat {
  margin: 10px;
  font-size: 20px;
}

.projectDescription {
  margin: 15px;
}

.skillsList {
  list-style-type: circle;
  margin: 20px;
}

.linkToWebsite {
  text-decoration: none;
  color: $black;
  line-height: 70px;
  font-size: 25px;
  font-style: italic;
  display: block;
  text-align: center;
}


@media only screen and (min-width: $widthMedium) {
  .projectPageBody {
    height: 100%;
  }
  .projectDescription {
    margin: 50px;
  }
}