@import '../variables.scss';

.contactBody {
  width: 90%;
  text-align: center;
  background-color: $orangeLight;
}

.contactTitle {
  margin: $marginTitle;
  font-size: $fontSizeTitle;
}

.name {
  font-size: 25px;
}

.email {
  font-size: 16px;
  margin: 17px;
  text-decoration: none;
  color: $black;
}

.link {
  text-decoration: none;
  color: $black;
  margin: 10px;
}

.contactLink {
  &:hover {
    transform: scale(1.2);
  }
}

.quote {
  margin: 50px;
  font-size: 25px;
  font-style: italic;
}

@media only screen and (min-width: $widthMedium) {
  .email {
    font-size: 20px;
    margin: 40px;
  }
}