.contactBody {
  background-color: #F3D796;
  text-align: center;
  height: 100%;
}

.contactTitle {
  margin: 0;
  padding: 20px;
  font-size: 35px;
}

.name {
  font-size: 25px;
}

.email {
  font-size: 20px;
  margin: 40px;
}

.link {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.quote {
  margin: 50px;
  font-size: 25px;
  font-style: italic;
}