@import '../variables.scss';

.footer {
  margin-top: auto;
  color: #DD614A;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.copyright {
  font-size: 10px;
}

.contactLinks {
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
}

.link {
  margin-right: 5px;
  color: #DD614A;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

@media only screen and (min-width: $widthMedium) {
  .copyright {
    font-size: 14px;
  }
}