@import '../variables.scss';

.projectsListBody {
  width: 90%;
  text-align: center;
  background-color: $orangeLight;
}

.projectsListTitle {
  margin: $marginTitle;
  font-size: $fontSizeTitle;
}

.projectsList {
  margin: 0;
  padding: 30px;
  list-style-position: inside;
}

.projectsListItem {
  &:hover {
    transform: scale(1.2);
  }
}

.linkToProjectPage {
  text-decoration: none;
  color: $black;
}