.projectsListBody {
  background-color: #8FA670;
  text-align: center;
  height: 100%;
}

.projectsListTitle {
  margin: 0;
  padding: 10px;
}

.projectsList {
  margin: 0;
  padding: 30px;
}

.linkToProjectPage {
  text-decoration: none;
  color: black;
}