@import '../variables.scss';

.header {
  background-color: $white;
  width: 90%;
  height: 300px;
  text-align: center;
  position: relative;
}

.headerTitleDiv {
  text-decoration: none;
  color: black;
}

.headerMainTitle {
  font-size: 40px;
}

.headerSubTitle {
  font-size: 30px;
}

.nav {
  background-color: #DD614A;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  line-height: 60px;
  font-size: 20px;
}

.navCat {
  text-decoration: none;
  color: white;
  &:hover {
    transform: scale(1.2);
}
}