@import '../variables.scss';

.aboutBody {
  width: 90%;
  text-align: center;
  background-color: $orangeLight;
}

.mainTitle {
  margin: $marginTitle;
  font-size: $fontSizeTitle;
}

.listTitle {
  font-size: 18px;
}

.subListTitle {
  font-size: 16px;
  font-weight: normal;
}

.listDiv {
  margin: 5px auto;
  text-align: left;
  width: 90%;
  font-size: 14px;
}

.hr {
  width: 50%;
  margin: 40px auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $orangeLightHr, $orangeBorderCat, $orangeLightHr);
}


@media only screen and (min-width: $widthMedium) {
  .listTitle {
    font-size: 22px;
  }
  .subListTitle {
    font-size: 18px;
  }
  .listDiv {
    font-size: 16px;
    width: 61%;
  }
}