.aboutBody {
  padding: 10px;
  text-align: center;
  background-color: #E89D774D;
}

.mainTitle {
  margin: 50px;
  font-size: 30px;
}

.listTitle {
  font-size: 22px;
}

.subListTitle {
  font-size: 18px;
  font-weight: normal;
}

.listDiv {
  margin: 5px auto;
  text-align: left;
  width: 61%;
}

.hr {
  width: 50%;
  margin: 40px auto;
}
